#list-commands-container { /* Container principal */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 80vw;
    height: 74vh;
}

#list-commands-container h2 {
    color: #000;
    padding: 10px;
    font-size: 1.5rem;
    font-family: "Caprasimo", serif;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
}

#general-list-commands { /* UL - grupo de lista */
    display: flex;  
    flex-direction: column;
    margin-left: 76px;
    gap: 20px;
    list-style-type: none;
    align-self: flex-start;
}

.item-list-commands { /* LI - item da lista */
    width: 69.3vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subgroup-item-initial {
    width: 69.3vw;
    background-color: #000000de;
    border-radius: 10px 10px 0px 0px;
}

.item-list-commands .subgroup-item-initial p {
    color:  #fff;
    text-align: center;
}

.item-list-commands img {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    padding: 5px;
    margin: 10px;
}

.item-list-commands p {
    color: #000;
    padding: 1px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
    font-style: italic;
}

.group-item-commands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1px;
    background-color: #ecd4ad;
    width: 69.3vw;
    max-height: 50vh;
}

.subgroup-item-commands {
    display: flex;
    flex-direction: row;
}

.subgroup-item-commands img {
    height: 100px;
}

.subgroup-item-commands p {
    text-align: start;
    font-weight: 600;
}

.subgroup-item-values {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.subgroup-item-finally {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #c97e0f57;
    width: 69.3vw;
    height: 55px;
    border-radius: 0px 0px 10px 10px;
}

.item-list-commands .subgroup-item-finally p {
    text-align: center;
    margin-top: 5px;
    margin-left: 60px;
    padding-left: 10px;
    padding-bottom: 8px;
    font-weight: bolder;
}

.finally-itens {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.finally-itens p {
    margin: -8px;
    
}