.container-products {
    height: 74vh;
    width: 80vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-products h2 {
    padding: 10px;
    color: #000;
    font-size: 1.5rem;
    font-family: "Caprasimo", serif;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
    margin-bottom: 15px;
}

.form-register-products { /* formulário de cadastro dos produtos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
}

.group-id-product {
    display: flex;
    flex-direction: row;
}

.form-register-products input {
    padding: 2px;
    color: #000;
    text-shadow: .9px .8px 5px #ffffff9c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-style: italic;
    border-radius: 6px;
    border: none;    
    text-transform: uppercase;
}

.span-normal {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 8px #fff;
    
}

/* TIPO DE PRODUTOS */
h4 {
    margin-top: 20px;
    margin-bottom: -6px;
    padding: 1px;
    color: #000;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
    font-style: italic;
    
}

.group-type-products {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #cfcecb;
    border-radius: 10px 10px;
    
}

.type-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.type-product input {
    opacity: 0;
}

.type-product span {
    text-align: center;
    cursor: pointer;
}

.type-product span:hover {
    color: #7076f4;
}

.icon-type-product {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.icon-type-product:hover {
    fill: #7076f4;
}

/* FIM - TIPO DE PRODUTOS*/

/* INÍCIO - VALOR DE PRODUTOS*/
.info-sale-product {
    font-style: italic;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
}

/* INÍCIO - FOTO DE PRODUTOS*/
.group-photo-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -220px;
    top: 18px;
}
.area-photo-product {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.group-photo-products button {
    height: 30px;
    border-radius: 7px;
    font-size: 1.4rem;
    border: none;
    background-image: linear-gradient(to left, #0000ff6c, #0000ffb2);
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-shadow: .1px .5px 2px #fff;
}

.group-photo-products button:hover {
    background-image: linear-gradient(to left, #0000ff52, #0000ff7a);
}

.icon-button-photo {
    color: #fff;
    font-size: 1.5rem;
}
/* FIM - FOTO DE PRODUTOS*/

/* INÍCIO - BARRA DE AÇÕES - PRODUTOS*/
.group-actions-products {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}

.group-actions-products button {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    background-color: #0044ffcb;
    color: #fff;
    text-shadow: 2px 1.5px 3px #000;
}

.group-actions-products button:hover {
    background-color: #0044ff96;
}

.icon-actions-products {
    font-size: 1.4rem;
    color: #000;
}

/* FIM - BARRA DE AÇÕES - PRODUTOS*/

/* INÍCIO - LISTA - PRODUTOS*/
.list-products-container {
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
    border: none;
}

thead {
    color: #000;
    
}

th {
    background-color: #11642344;
    text-shadow: 1px .5px 2px #fff;
    cursor: pointer;
}

th, td {
  border: 1px solid #ddd; /* Adiciona bordas */
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dbdada; /* Define a cor de fundo para linhas pares */
}

tr:nth-child(odd) {
  background-color: #ffffffd3; /* Define a cor de fundo para linhas ímpares */
}

.icon-delete-product {
    color: #fff;
    font-size: 1.6rem;
}

.icon-delete-product:hover {
    color: #ffffffc4;
    font-size: 1.4rem;
}

.icon-update-product {
    color: #fff;
    font-size: 1.6rem;
}

.icon-update-product:hover {
    color: #ffffffc4;
    font-size: 1.4rem;
}

.line-del-product {
    background-color: #d60808;
    border-radius: 7px;
}

.line-update-product {
    background-color: #0044ffcb;
    border-radius: 7px;
}

.btn-del-update-product {
    background-color: transparent;
    border: none;
    cursor: pointer;
}