#list-products-container { /* Container principal */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 80vw;
    height: 74vh;
}

#list-products-container h2 {
    color: #000;
    padding: 10px;
    font-size: 1.5rem;
    font-family: "Caprasimo", serif;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
}

#general-list-products { /* UL - grupo de lista */
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 76px;
    gap: 20px;
    list-style-type: none;
    align-self: flex-start;
}

.item-list-product { /* LI - item da lista */
    width: 200px;
    height: 195px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-photo-product { /* DIV da foto do produto */
    background-color: #ecd4ad;
    border-radius: 10px 10px 0px 0px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.item-list-product img {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    padding: 5px;
    margin: 10px;
}

.item-list-product p {
    color: #000;
    padding: 1px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1.5px 1.4px 5px #fff;
    font-style: italic;
}