/* PALETA DE CORES */

/*
    #F2691D - LARANJA ESCURO
    #F5BF51 - AMARELO CLARO
    #F28F1D - LARANJA CLARO
    #F5350A - VERMELHO MÉDIO
    #F5C200 - AMARELO ESCURO
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.753), hsla(0, 20%, 84%, 0.761));
}